doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        style
            include style.css

        title ZoomClone
    body 
        nav#nav 
            a(href="/") 
                img.logo(src="https://i0.wp.com/zeevector.com/wp-content/uploads/2021/03/Zoom-Logo-Vector-.png?fit=940%2C288&ssl=1")
            form#enter.form.room
                input(type="text", required, placeholder="Create Room")
                button Enter
        main
            div#lobby
                h3
                form#name.form.name
                    input(type="text", required, placeholder="Nickname")
                    button Submit
                h4 Rooms
                ul.roomList

            div#room
                h3#roomName
                h3#participant
                div#msgList.msgList
                form#msg.msg
                    input(type="text", required, placeholder="Message")
                    button Send 
        script(src="/socket.io/socket.io.js")  
        script(src="/public/js/app.js")